@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none !important;
}

#text-a,
#text-b {
    transition: transform 0.7s ease-in-out, opacity 0.7s ease-in-out;
    position: absolute;
    white-space: nowrap;
}
